<div class="cont" style="background-image: url(assets/home2.jpg)">
  <h1 class="title font-playfair" style="color: white; text-align: center">
    Services
  </h1>
  <div class="container">
    <div class="card text-center">
      <figure class="px-10 pt-10">
        <img src="assets/movimiento-de-camiones.svg" alt="Shoes" class="card_img rounded-xl" />
      </figure>
      <div class="card-body items-center">
        <h2 class="card-title font-montserrat">Mobility</h2>
        <p>
          We meet you wherever you are, bringing unique flavors to your location
        </p>
      </div>
    </div>

    <div class="card text-center">
      <figure class="px-10 pt-10">
        <img src="assets/restaurante.svg" alt="Shoes" class="card_img rounded-xl" />
      </figure>
      <div class="card-body items-center">
        <h2 class="card-title font-montserrat">Varied Menu</h2>
        <p>From reinvented classics to innovative creations</p>
      </div>
    </div>

    <div class="card text-center">
      <figure class="px-10 pt-10">
        <img src="assets/insignia.svg" alt="Shoes" class="card_img rounded-xl" />
      </figure>
      <div class="card-body flex items-center">
        <h2 class="card-title font-montserrat">Premium Quality</h2>
        <p>Fresh ingredients and high-level culinary techniques.</p>
      </div>
    </div>
  </div>

  <hr />

  <h1 class="title font-playfair" style="text-align: center; color: white">
    Popular Food
  </h1>
  <div class="platill">
    <app-platill [id]="0"></app-platill>
    <app-platill [id]="2"></app-platill>
    <app-platill [id]="4"></app-platill>
    <app-platill [id]="13"></app-platill>
  </div>


 
</div>